@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.section {
  height: 100vh;
  padding: 100px;
  font-family: consolas;
  font-weight: bold;
  text-align: center;
}

.navbar.fixed-top.scroll {
  background-color: #db4646;
  transition: background-color 0.5s ease-in-out;
}

a{
  text-decoration: none;
}










.nav-pills .nav-link {
  background-color: #f80d0d; /* change to your desired background color */
  color: #00153b; /* change to your desired text color */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #fff; /* change to your desired background color */
  color: #05315f; /* change to your desired text color */
  border-color: #05315f; /* change to your desired border color */
}

  
.navbar-brand {
    color: #e413c1; /* change to your desired text color */
  }








.background-image-section{
    background-image: url("../Resources/me.jpg");
    background-size: cover;
    background-position: center;
    height: 800px; /* adjust the height as needed */
}

.background-image-section .content {
    font-family:'consolas';
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: rgb(43,45,66);
}





  