.background-image-section{
    background-image: url("../Resources/me.jpg");
    background-size: cover;
    background-position: center;
    height: 800px; /* adjust the height as needed */
}

.navbar-brand {
    color: red;
  }
  